@import "tailwindcss";

@theme {
  --grid-template-columns-app: minmax(18rem, 20rem) 1fr;
  --grid-template-columns-form: minmax(7.5rem, 17.5rem) minmax(25rem, 1fr) minmax(0, 15rem);
  --color-violet-25: #fcfaff;
}