@import "tailwindcss";

@theme {
  --grid-template-columns-app: minmax(18rem, 20rem) 1fr;
  --grid-template-columns-form: minmax(7.5rem, 17.5rem) minmax(25rem, 1fr) minmax(0, 15rem);
  --color-violet-25: #fcfaff;
  --animate-slide-down-and-fade: slideDownAndFade 1s cubic-bezier(0.16, 1, 0.3, 1);
  
 @keyframes slideDownAndFade {
    0% { 
      opacity: 0; 
      transform: translateY(-2px); 
    }
    100% { 
      opacity: 1; 
      transform: translateY(0); 
    }
  }
}